body {
    margin: 0px;
    font-family: Arial, sans-serif;

    background: url("assets/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main {
    max-width: 1264px;
    width: 100%;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
}

.heading {
    font-family: "Audiowide", sans-serif;
    color: white;
    font-size: 30px;
}

.input-form {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding-top: 20px;
    padding-bottom: 20px;
}

.input-box {
    height: 50px;
    font-size: 29px;
    width: 400px;
    border-radius: 5px;
    border: solid 1px gray;
    font-family: monospace;
    box-sizing: border-box;
}

.output-box {
    width: 700px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-top: 50px;
}

.submit-btn {
    vertical-align: top;
    height: 50px;
    margin-left: 10px;
    border-radius: 20px 0px 20px 0px;
    border: solid 1px gray;
    padding: 10px;
    transition: 0.3s;
    background-color: black;
    color: white;
}

.submit-btn:hover {
    cursor: pointer;
    border-radius: 0px 20px 0px 20px;
    background-color: gray;
    color: black;
}
